
h1, p{
    margin: 0;
}

button{
    font-family: monospace;
}

body {
    font-family: monospace;
    margin: 0; 
    height: fit-content; 
    /* overflow-y: hidden;  */
}

header{
    /* border: solid black 1px; */
    padding: 1em;
    height: 4em;
    box-sizing: border-box;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}

header > h1{
    font-family: monospace;
}

#main-container{
    width: 100%; 
    height: calc(100vh - 4em); 
    /* border: solid black 1px;  */
    box-sizing: border-box;
    display: flex; 
    overflow-y: hidden;
}

nav{
    width: 5%; 
    height: 100%;
    background-color: #128cef;
    padding: 2em 1em 2em 1em;
    box-sizing: border-box;
    display: flex; 
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    /* border-right: solid rgb(211, 208, 208) 1px; */
}

nav>div{
    display: flex; 
    flex-direction: column;
    align-items: center;
    gap: 2em;
}

nav a{
    background-color: transparent;
    width: fit-content;
    border: none;
    border-radius: 5px;
}

nav img{
    width: 2em; 
}

nav a:hover{
    background-color: white;

}

nav a:hover img{
    /* filter:invert(1) */
    filter: invert(41%) sepia(39%) saturate(2817%) hue-rotate(187deg) brightness(96%) contrast(95%);
}

main{
    width: 95%; 
    padding: 2em; 
}

/* tables tab */
#tables-tab{
    display: flex; 
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding-bottom: 2em;
    border-bottom: dotted black 1px;
}

#tables-tab p{
    font-size: smaller;
    color: rgba(0, 0, 0, 0.524);
    margin-right: 2em;
}

#tables-container{
    display: flex;
    align-items: center;
}
.tablinks{
    font-size: 1em;
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
    border-radius: 5px;
    margin-right: 1em;
}

.tablinks:hover {
    background-color: #ddd;
}

.tablinks.active {
    background-color: #128bef73;
}

#create-record{
background-color: white;
   border: none; 
   cursor: pointer;
   transition: 0.3s;
   border-radius: 5px;
   font-size: 1em;
   padding: 14px 16px;
   border:dashed #08742e 1px;
}

#create-record:hover{
    background-color: #08742e;
    color: white;
}

/* table */
table, th, td, tr{
    border-collapse: collapse;
    box-sizing: border-box;
    text-align: center;
    box-sizing: border-box;
}

table{
    text-align: center;
    min-width: 100%;
    height: fit-content;
}

th{
    background: rgb(245, 245, 245);
    position: sticky; 
    top: 0;
    z-index: 99; 
    padding: 1em;
    border: dotted rgba(0, 0, 0, 0.128) 1px; 
    box-sizing: border-box;
}


td, tr{
    border: dotted rgba(0, 0, 0, 0.128) 1px; 
}

td{
    padding: 1em;
    background-color: white;
} 

tr:hover td {
    background-color: #128bef28;
}

tr:hover td:first-child {
    background-color: white;
}

td:nth-child(1),
th:nth-child(1){
    position: sticky;
    left: 0; 
    z-index: 98;
}

th:nth-child(1){
    z-index: 100;
}

.table-actions{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    position: relative;
    gap: 0.5em;
}

.table-actions button{
    border: none;
    background-color:inherit;
    cursor: pointer;
}

.table-actions img{
    width: 1.5em;
}

.table-actions .update-btn:hover {
    box-sizing: border-box;
    background-color: #fe7500;
    border-radius: 5px;
  }
    
.table-actions .delete-btn:hover {
  box-sizing: border-box;
  background-color: #ea0000;
  border-radius: 5px;
}

.table-actions button:hover img{
    filter: invert(1);
}

.table-actions .view-btn img{
    filter: brightness(0) saturate(100%) invert(39%) sepia(38%) saturate(3048%) hue-rotate(188deg) brightness(99%) contrast(89%);
}

.table-actions .update-btn img{
    filter: brightness(0) saturate(100%) invert(69%) sepia(71%) saturate(4378%) hue-rotate(354deg) brightness(96%) contrast(94%);
}

.table-actions .delete-btn img{
    filter: brightness(0) saturate(100%) invert(22%) sepia(69%) saturate(2944%) hue-rotate(345deg) brightness(88%) contrast(110%);
}

#table-container{
    margin: 1em 0 0 0;
    /* padding: 1em 0.5em 0 0.5em; */
    display: flex; 
    align-content: center;
    box-sizing: border-box;
    max-height: 70vh;
    overflow: auto;
    max-width: 90vw;
}

/* query page */
#query-container{
    width: 100%;
    display: flex; 
    align-items: center;
    /* justify-content: center; */
    gap: 2em;
    box-sizing: border-box;
    margin-bottom: 2em;
}

#query-container button{
    background-color: white;
    border: none; 
    cursor: pointer;
    transition: 0.3s;
    border-radius: 10px;
    font-size: smaller;
    padding: 0px 16px;
    border:dashed #08742e 1px;
    width: fit-content;
    height: 3em;
}

#query-container button:hover{
    background-color: #08742e;
    color: white;
}

#query-container textarea{
    width: 90%;
    resize:vertical;
    overflow:auto;
    height: 3em;
    padding: 1em;
    border: dotted black 1px;
}

#results-container > #table-container{
    border-top: dotted black 1px;
}

#results-container td:nth-child(1){
    position: unset;
}

#results-container th:nth-child(1){
    position: sticky; 
    top: 0;
    left: unset; 
}

/* error popup */
.error-popup, 
.success-popup {
    position: absolute;
    top: 20vh;
    left: 0; 
    right: 0;
    margin-left: auto; 
    margin-right: auto; 
    width: fit-content;
    background-color: #ea0000;
    color: white;
    padding: 10px;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    z-index: 1000;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 1em;
}

.error-popup button{
    margin-right: 0.5em;
    margin-left: 0.5em;
    border: none;
}

.error-popup button:hover{
    background-color: rgb(212, 210, 210);
    border: none;
}

.success-popup{
    background-color:#08742e;
}

/* scrollbar */
/* width */
::-webkit-scrollbar {
    width: 0.5em;
    height: 0.5em;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: white;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #c7c6c6;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555;
  }

  /* modal */

  .modal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(0, -50%) scale(0);
    transition: 200ms ease-in-out;
    border: 1px solid black;
    border-radius: 10px;
    z-index: 9999;
    background-color: white;
    width: 900px;
    height: 2000px;
    max-height: 90%;
    max-width: 90%;
    overflow-y: auto;
    display: none;
  }
  
  .modal.active {
    transform: translate(-50%, -50%) scale(1);
  }
  
  .modal-header {
    padding: 10px 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .modal-header .title {
    font-size: 1.25rem;
    font-weight: bold;
  }
  
.close-button{
    cursor: pointer;
    border: none;
    outline: none;
    background: none;
    font-size: 1.25rem;
    font-weight: bold;
  }
  
  .modal-body {
    padding: 10px 15px;
    overflow-y: auto;
  }
  
  .dev-button {
      width: 50px;
      background-color: white;
      color: black;
      border: 1px solid #ccc;
      cursor: pointer;
  }
  
  #overlay {
    position: fixed;
    opacity: 0;
    transition: 200ms ease-in-out;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, .5);
    pointer-events: none;
  }
  
  #overlay.active {
    opacity: 1;
    pointer-events: all;
  }
  
  /*------------------------ modal content ------------------------*/
  fieldset {
      border: 2px #1e90ff; 
      border-radius: 5px;
      padding: 10px;
      margin-bottom: 20px;
  }
  
  form {
      max-width: 800px;
      margin: 0 auto;
      background-color: #fff; 
      padding: 20px;
      border-radius: 10px;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
      margin-bottom: 35px;
  }
  
    label {
      margin-bottom: 2px;
      font-size: 1em;
      font-weight: bold;
  }

  .req-dec {
    color:#ea0000;
  }
  *, *::after, *::before {
    box-sizing: border-box;
  }
  
  input[type="text"],
  input[type="number"],
  select {
      width: calc(100% - 22px);
      padding: 10px;
      margin-top: 5px;
      margin-bottom: 10px;
      border: 1px solid #ccc;
      border-radius: 5px;
      box-sizing: border-box;
  }
  
  input[type="radio"] {
      margin-right: 10px;
  }
  
  input[type="submit"] {
      background-color:#08742e;
      color: white;
      padding: 10px 20px;
      border: none;
      border-radius: 5px;
      cursor: pointer;
      display: block;
      margin: 0 auto;
  }
  
  input[type="submit"]:hover {
      background-color:#08742ee7;
  }
  
  .modal-body form input[type="text"],
  .modal-body form input[type="number"],
  .modal-body form input[type="date"],
  .modal-body form input[type="email"],
  .modal-body form select {
      width: 100%;
      padding: 8px;
      border: 1px solid #ddd;
      border-radius: 4px;
      margin-top: 3px;
      box-sizing: border-box;
  }
  
  .gender-container, 
  .civilstat-container, 
  .curlevel-container,
  .modereceipt-container,
  .level-container {
      display: flex;
      justify-content: left;
      gap: 20px;
      margin-bottom: 1em;
  }
.civilstat-container,
.curlevel-container{
    margin-top: 1em;
}

  
  .gender-container label,
  .civilstat-container label, 
  .curlevel-container label,
  .modereceipt-container label,
  .level-container label {
      font-weight: 100;
      display: flex;
      align-items: center;
      gap: 10px;
  }

  .gender-container p,
  .civilstat-container p, 
  .curlevel-container p,
  .modereceipt-container p,
  .level-container p{
    font-weight: bold;
  }
  
  .submitted-data {
      background-color: #fff;
      border: 2px solid #1e90ff;
      border-radius: 10px;
      padding: 20px;
      margin-top: 20px;
  }
  
  .submitted-data p {
      margin: 10px 0;
  }
  
  .submitted-data button,
  .modal-body .add-education-button {
      background-color: #1e90ff;
      color: white;
      padding: 10px 20px;
      border: none;
      border-radius: 5px;
      cursor: pointer;
      margin: 10px 5px;
  }

  .education-section fieldset{
    margin-bottom: 0;
  }

  
  .modal-body .remove-education-button {
      background-color: #ea0000;
      color: white;
      padding: 10px 20px;
      border: none;
      border-radius: 5px;
      cursor: pointer;
      margin: 10px 5px;
  }
  
  .submitted-data button:hover {
      background-color: #1c86ee;
  }
  
  .modal-body h1 {
    text-align: center;
  }
  
  .modal-body form h2, h3 {
    text-align: center;
    margin: 5px;
  }
  

  /* hide */
  .hide-node{
    display: none; 
  }

  /* update modal */
.update-modal{
    position: absolute; 
    background-color: #c7c6c6a1;
    z-index: 9999;
    height: calc(100% - 4em);
    width: 100%;
    overflow: auto;
/*     
    justify-content: center; */
    /* height: 80%;
    overflow-y: auto;
    background-color: white;
    padding: 2em;
    z-index: 9999;
    width: 70%;
    top: 50%;  
    left: 50%; 
    transform: translate(-50%, -50%); 
    border: dashed black 1px;
    border-radius: 5px; */

}

.update-modal-content {
    background-color: white;
    border: dotted black 1px; 
    position: relative;
    border: solid black 1px;
    height: fit-content;
    width: 50vw;
    overflow-y: auto;
    left: 50%; 
    transform: translateX(-50%); 
    padding: 2em;
    margin: 2em;
    border-radius: 5px;
}

.update-modal-content  > div{
    display: flex;
    justify-content: space-between;

}


#modal-cont{
    background:  #c7c6c6a1;
}