body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    padding: 20px;
}

.container {
    width: 120%;
    max-width: 1000px;
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    overflow-y: auto;
}

.tab {
    overflow: hidden;
    border-bottom: 1px solid #ccc;
}

.tab button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
}

.tab button:hover {
    background-color: #ddd;
}

.tab button.active {
    background-color: #B8E2F4;
}

.tabcontent {
    display: none;
    padding: 20px;
    border-top: none;
}

form {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}

label {
    margin-bottom: 5px;
}

input[type="text"],
input[type="number"],
input[type="email"],
button {
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    background-color: #007bff;
    color: black;
    border: 1px solid #ccc;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

table {
    width: 100%;
    border-collapse: collapse;
}

th, td {
    border: 1px solid #ccc;
    padding: 10px;
    text-align: middle;
}

th {
    background-color: #f4f4f4;
}

.actions {
    display: flex;
    gap: 10px;
}

button.action-btn {
    padding: 5px 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button.details-btn {
    background-color: #17a2b8;
    color: white;
}

button.edit-btn {
    background-color: #ffc107;
    color: white;
}

button.delete-btn {
    background-color: #dc3545;
    color: white;
}

button.details-btn:hover {
    background-color: #138496;
}

button.edit-btn:hover {
    background-color: #e0a800;
}

button.delete-btn:hover {
    background-color: #c82333;
}
