
h1, p{
    margin: 0;
}

button{
    font-family: monospace;
}

body {
    font-family: monospace;
    margin: 0; 
    height: fit-content; 
    /* overflow-y: hidden;  */
}

header{
    /* border: solid black 1px; */
    padding: 1em;
    height: 4em;
    box-sizing: border-box;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}

header > h1{
    font-family: monospace;
}

#main-container{
    width: 100%; 
    height: calc(100vh - 4em); 
    /* border: solid black 1px;  */
    box-sizing: border-box;
    display: flex; 
    overflow-y: hidden;
}

nav{
    width: 5%; 
    height: 100%;
    background-color: #128cef;
    padding: 2em 1em 2em 1em;
    box-sizing: border-box;
    display: flex; 
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    /* border-right: solid rgb(211, 208, 208) 1px; */
}

nav>div{
    display: flex; 
    flex-direction: column;
    align-items: center;
    gap: 2em;
}

nav a{
    background-color: transparent;
    width: fit-content;
    border: none;
    border-radius: 5px;
}

nav img{
    width: 2em; 
}

nav a:hover{
    background-color: white;

}

nav a:hover img{
    /* filter:invert(1) */
    filter: invert(41%) sepia(39%) saturate(2817%) hue-rotate(187deg) brightness(96%) contrast(95%);
}

main{
    width: 95%; 
    padding: 2em; 
}

/* tables tab */
#tables-tab{
    display: flex; 
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding-bottom: 2em;
    border-bottom: dotted black 1px;
}

#tables-tab p{
    font-size: smaller;
    color: rgba(0, 0, 0, 0.524);
    margin-right: 2em;
}

#tables-container{
    display: flex;
    align-items: center;
}
.tablinks{
    font-size: 1em;
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
    border-radius: 5px;
    margin-right: 1em;
}

.tablinks:hover {
    background-color: #ddd;
}

.tablinks.active {
    background-color: #128bef73;
}

#create-record{
    background-color: white;
   border: none; 
   cursor: pointer;
   transition: 0.3s;
   border-radius: 5px;
   font-size: 1em;
   padding: 14px 16px;
   border:dashed #08742e 1px;
}

#create-record:hover{
    background-color: #08742e;
    color: white;
}

/* table */
table, th, td, tr{
    border-collapse: collapse;
    box-sizing: border-box;
    text-align: center;
    box-sizing: border-box;
}

table{
    text-align: center;
    min-width: 100%;
}

th{
    background: rgb(245, 245, 245);
    position: sticky; 
    top: 0;
    z-index: 99; 
    padding: 1em;
    border: dotted rgba(0, 0, 0, 0.128) 1px; 
    box-sizing: border-box;
}


td, tr{
    border: dotted rgba(0, 0, 0, 0.128) 1px; 
}

td{
    padding: 1em;
    background-color: white;
} 

tr:hover td {
    background-color: #128bef28;
}

tr:hover td:first-child {
    background-color: white;
}

td:nth-child(1),
th:nth-child(1){
    position: sticky;
    left: 0; 
    z-index: 98;
}

th:nth-child(1){
    z-index: 100;
}

.table-actions{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    position: relative;
    gap: 0.5em;
}

.table-actions button{
    border: none;
    background-color:inherit;
    cursor: pointer;
}

.table-actions img{
    width: 1.5em;
}

.table-actions .update-btn:hover {
    box-sizing: border-box;
    background-color: #fe7500;
    border-radius: 5px;
  }
    
.table-actions .delete-btn:hover {
  box-sizing: border-box;
  background-color: #ea0000;
  border-radius: 5px;
}

.table-actions button:hover img{
    filter: invert(1);
}

.table-actions .view-btn img{
    filter: brightness(0) saturate(100%) invert(39%) sepia(38%) saturate(3048%) hue-rotate(188deg) brightness(99%) contrast(89%);
}

.table-actions .update-btn img{
    filter: brightness(0) saturate(100%) invert(69%) sepia(71%) saturate(4378%) hue-rotate(354deg) brightness(96%) contrast(94%);
}

.table-actions .delete-btn img{
    filter: brightness(0) saturate(100%) invert(22%) sepia(69%) saturate(2944%) hue-rotate(345deg) brightness(88%) contrast(110%);
}

#table-container{
    margin: 1em 0 0 0;
    /* padding: 1em 0.5em 0 0.5em; */
    display: flex; 
    align-content: center;
    box-sizing: border-box;
    max-height: 70vh;
    overflow: auto;
    max-width: 90vw;
}

